#lostpassword_form {
	margin-top: 25px;
}
#lostpassword_form div.input-group input.form-control {
    border: 1px solid #ccc;
    margin: 0;
}
#lostpassword_form div.input-group {
    margin: 0 0 15px !important;
}